.pulse {
    animation-name: pulse-item;
    animation-duration: 0.5s;
}

@keyframes pulse-item {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}